@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos a SAHM !</h1>
    <h3>Sistema de Administracion de Herramientas y Maquinas</h3>
    <p>Dudas? Consultas? Enviar un correo a </p>
</div>
